* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: serif;
  background-color: #ebebeb;
}

/* Baner i nawigacja */
header {
  height: 200px;
}
nav {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #004e98;
}
li {
  float: left;
}
li a {
  padding: 14px 16px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ebebeb;
}
li a:hover:not(.active) {
  background-color: #3a6ea5;
}
.active {
  background-color: #ff6700;
}

/* Zawartość strony */
section {
  height: 60vh;
  background-color: #3a6ea5;
}
fieldset {
  width: 180px;
}
table, tr, td {
  margin: 0 auto;
  padding: 5px;
  border: 1px solid black;
}

.dodaj:link, .dodaj:visited {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #004e98;
  color: black;
  background-color: white;
}
.dodaj:hover, .dodaj:active {
  color: white;
  background-color: #3a6ea5;
}

/* Stopka */
footer {
  height: 50px;
  text-align: center;
  font-family: serif;
  color: #ebebeb;
  background-color: #004e98;
}